# Virtual Environment
venv/

# Environment Variables
.env
.env.*

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
media/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Static build
staticfiles/

# Migrations cache
*.pyc