/* ==========================================
   Google Font
========================================== */

body {
    font-family: "Poppins", sans-serif;
    background: #f8f9fa;
    color: #212529;
}

/* ==========================================
   Global
========================================== */

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

section {
    padding: 80px 0;
}

.btn-primary {
    border-radius: 10px;
}

.card {
    border: none;
    border-radius: 15px;
}